
@import "tailwindcss";

body {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.noscroll {
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  margin-top: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32); /* Tailwind's gray-700, #afc35a */
  border-radius: 4px;
}

.custom-page-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-page-scrollbar::-webkit-scrollbar-track {
  background: #27272a;
}

.custom-page-scrollbar::-webkit-scrollbar-thumb {
  background: #afc35a; /* Tailwind's gray-700 */
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl; /* Right to left, top to bottom */
  text-orientation: upright; /* Keeps characters upright */
}

/* *, *::before, *::after { outline: solid 1px red; } */

@theme {
    --color-draft-back: oklch(93.55% 0.015 115.05);
    --color-text: oklch(34.90% 0.012 113.62);
    --color-background: oklch(95.27% 0.027 116.09);
    --color-primary: oklch(78.07% 0.128 118.83);
    --color-primary-dark: oklch(0.589 0.1281 118.83);
    --color-secondary: oklch(59.15% 0.050 117.41);
    --color-accent: oklch(62.71% 0.135 312.62);
    --color-nieche: oklch(0.896 0.0745 117.75);

    --font-nunito: "Josefin Sans", sans-serif;
}

@theme {
  --breakpoint-mobile: 21rem;
  --breakpoint-mid-md: 60.625rem;
  --breakpoint-sm-md: 30.625rem;
}

@theme {
  --animate-slide-in: slide-in 1s ease-in-out;
  @keyframes slide-in {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-bouncy: bouncy 1s ease-in-out infinite;

  @keyframes bouncy {
    0%, 100% {
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@theme {
  --animate-swing: swing 2s ease-in-out;
  @keyframes swing {
          0% { transform: rotate(0deg); }
          20% { transform: rotate(15deg); }
          40% { transform: rotate(-10deg); }
          60% { transform: rotate(5deg); }
          80% { transform: rotate(-5deg); }
          100% { transform: rotate(0deg); }
        }
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

/* Hide spinners in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}